@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

@font-face {
    font-family: 'MyMonoFont';
    src: url('/bubka/fonts/JetBrainsMono-Bold.ttf') format('truetype');
}

body {
    font-family: 'MyMonoFont', monospace; 
    font-size: small;
}

body a {
    font-family: 'MyMonoFont', monospace; 
}


.article-content.max-w-prose {
    max-width: 1200px !important; 
}




.meta-box {
  display: flex;
  gap: 12px;
  align-items: center;


  border-top: 2px solid rgba(128, 128, 128, 0.3);
  border-bottom: 2px solid rgba(128, 128, 128, 0.3);
  
  padding: 10px 0;
  margin: 5px 0 32px 0;
  font-family: 'JetBrains Mono', monospace;
}

/* Окремий елемент */
.meta-pill {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 6px 14px;
  border-radius: 6px; 

  background: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-300);

  font-size: 0.8rem;
  line-height: 1;
  transition: all 0.2s ease;
}


/* Label */
.meta-label {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.8rem;
  color: var(--color-neutral-500);
  font-weight: 600;
}

/* Value */
.meta-value {
  font-weight: 700;
  color: var(--color-neutral-900);
}


.meta-pill.difficulty.easy {
  border-color: rgba(80, 250, 123, 0.4);
}
.meta-pill.difficulty.easy .meta-value { color: #16a34a; }
html.dark .meta-pill.difficulty.easy .meta-value { color: #50fa7b; }

.meta-pill.difficulty.medium {
  border-color: rgba(255, 184, 108, 0.5);
}
.meta-pill.difficulty.medium .meta-value { color: #d97706; }
html.dark .meta-pill.difficulty.medium .meta-value { color: #ffb86c; }

.meta-pill.difficulty.hard {
  border-color: rgba(255, 85, 85, 0.6);
}
.meta-pill.difficulty.hard .meta-value { color: #dc2626; }
html.dark .meta-pill.difficulty.hard .meta-value { color: #ff5555; }



#TableOfContents a {
  display: block;   
  width: 250px;            
  border-left: 3px solid transparent; 
  padding-left: 12px;          
  margin-left: 2px;           
  text-decoration: none;       
  color: inherit;              
  opacity: 0.65;              
  font-size: 14px;
  transition: all 0.2s ease;   
}

#TableOfContents a:hover {
  opacity: 1;                   
  color: var(--primary)
}

#TableOfContents a.active {
  opacity: 1;                   
  font-weight: 600;            
  color: var(--primary);        
  border-left-color: var(--primary); 
  background: linear-gradient(90deg, rgba(var(--primary-rgb), 0.1) 0%, darkblue 100%); 
}


body.type-writeups article {
  font-size: 13px !important;  
  line-height: 1.3 !important;   
  margin-bottom: 0.2rem !important; 
}

body.type-writeups article .text-xs {
  font-size: 1.5rem !important; 
}

.page-writeups {
  font-size: 0.12;
}










